.ChildComponent{

APP{
 text-align: center;
}

cc-header{
    background-color: rgb(blue, green, blue);
    height: 120px;
    padding: 20px;
    color: wheat;
}

bgblue{
    background-color: blue;
}

}